*{
    margin: 0;
    padding: 0;
    }
    p{
        margin-top: 70px;
        margin-left: 50px;
        }
   
#imagem{
    position:absolute;
    left: 250px;
    top: 750px;
width: 400px;
height: 250px;
}
p{
    color:red;
    font-size: 100px;
    }
    #paragrafo{
        color:blue;
        font-size: 100px;
    }